<!-- challenge-popup.component.html -->

<div class="popup-overlay" (click)="closePopup()">
  <div class="popup-content" (click)="preventClosing($event)">
    <h2>Create a New Challenge</h2>
    <form (submit)="createChallenge()" [formGroup]="challengeForm">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Difficulty</mat-label>
        <mat-select formControlName="difficultyLevel">
          <!-- Add difficulty options here -->
          <mat-option value="easy">Easy</mat-option>
          <mat-option value="medium">Medium</mat-option>
          <mat-option value="hard">Hard</mat-option>
          <mat-option value="expert">Expert</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Duration (hours)</mat-label>
        <input matInput type="number" formControlName="duration">
      </mat-form-field>

      <div class="button-group">
        <button mat-button color="accent" (click)="closePopup()">Go Back</button>
        <button mat-raised-button color="primary" type="submit">Create Challenge</button>
      </div>
    </form>
  </div>
</div>
