<!-- app.component.html -->

<app-header></app-header>

<div class="main-content">
  <div class="list-and-button-container">
    <div class="list-container">
      <app-challenge-list
        (challengeSelected)="onSelectedChallenge($event)"
      ></app-challenge-list>
      <button class="btn btn-primary" (click)="openPopup()">
        Add Challenge
      </button>
    </div>
  </div>
  <div class="card-container">
    <app-challenge-card
      [selectedChallenge]="selectedChallenge"
    ></app-challenge-card>
  </div>
</div>

<app-challenge-popup
  *ngIf="isPopupOpen"
  (challengeCreated)="handleChallengeCreated($event)"
  (popupClosed)="closePopup()"
></app-challenge-popup>
